body{
  margin:0;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.head h1{
  text-align:center;
  font-weight: bold;
}
.container{
  background-color: #f5f0f0;
  border-top-right-radius: 20%;
  min-height:100vh;
  margin-top:100px;
  margin-bottom:100px;
  box-shadow: 
  0px 0px 0px 3px rgba(169, 169, 169, 0.5), 
  0px 0px 0px 6px rgba(169, 169, 169, 0.3), 
  0px 0px 0px 9px rgba(169, 169, 169, 0.2), 
  0px 0px 0px 12px rgba(169, 169, 169, 0.1), 
  0px 0px 0px 15px rgba(169, 169, 169, 0.05);
}

.input{
  width:80%;
  height:50px;
  border-radius: 0%;
  border: 5px solid lightseagreen;
  margin-bottom: 10px;
}


.task-area{
  border:5px solid lightblue;
}

.task-tabs{
  display:flex;
  border-bottom:1px solid gray;
  position: relative
}

.task-tabs div{
  padding:1em;
}

#under-line{
  height:4px;
  background-color: rgb(31, 7, 243);
  position: absolute;
  width:70px;
  left:0px;
  top:52px;
  padding:0px;
}

.task{
  display:flex;
  justify-content: space-between;
  padding:1em;
  
}

.task button{
  background-color: lightblue;
  height:50px;
  width:50px;
  border: none;
  border-radius: 50px;
}

.task button:hover{
  background-color: rgb(14, 179, 235);
}


.task-done{
  text-decoration: line-through;
  background-color: lightgrey;
}

.task-tabs div{
  cursor:pointer;
}